.hero-section {
    @extend .grid;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    

    @include respond-to("small") {
        padding: 4em 3em 5em 0;
    }
}

.hero-title {
    h1 {
        font-size: 2.7rem;
        font-weight: bold;
        padding-top: 2em;

        @include respond-to("small") {
            font-size: 5rem;
            padding: 0;
            text-align: left;
        }
    }
}

.hero-tiny-buttons {
    color: lighten($main, 20%);
    padding-top: 4em;
    cursor: pointer;

    span {
        color: $pink;
    }
}